@import "scss/_vars";
@import "scss/_normalize";
@import "scss/_fonts";
@import "components/Header/Header.module";
@import "components/Slider/Slider.module";
@import "components/seach/Seach.module";
@import "components/basket/Backet.module";
@import "components/sneakers/Sneacks.module";

.App {
  background-color: $main-color;
  padding-top: 85px;

  &__back {
    width: 1020px;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 43px;
    border-radius: 20px;
    padding-right: 63px;
    padding-left: 45px;
    padding-bottom: 44px;
  }
  &__menu-sne {
    display: flex;
    margin-left: -2em;
    justify-content: center;
  }
  &__kross {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    width: 1080px;

    
  }
}
