$main-fond: "Inter", sans-serif;

//

$dark: #000000;
$wark: #9d9d9d;
$dark-wark: #5c5c5c;
$d-w: #bdbdbd;
$green: #8bb43c;
$main-color: #e7f6ff;
$white: #f6fafe;
$accent: #f4efe9;
$menu_color: #f3f3f3;
$kross_color: #ffff;